<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <p *ngIf="CustomSpells.length() == 0">No custom spells.</p>
            <div class="accordion" id="accordion-list" *ngIf="CustomSpells.length() > 0">
                <div *ngFor="let spell of CustomSpells.getItems()" class="accordion-item accordion-card">
                    <div *ngIf="spell.getCastingInfo(_dataService) as CastingInfo">
                        <div class="accordion-header" id="heading-{{spell.UniqueId}}">
                            <button class="accordion-button accordion-button-color collapsed" type="button" attr.data-bs-target="#collapse-{{spell.UniqueId}}" data-bs-toggle="collapse">
                                {{spell.UniqueId}} - {{spell.SpellName}} |
                                Mana Cost - {{CastingInfo.Cost}}
                                Casting DC - {{CastingInfo.DC}}
                            </button>
                        </div>

                        <div id="collapse-{{spell.UniqueId}}" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col">
                                        <p>Description: {{spell.Description}}</p>
                                        <p>Affinity Conflict Bonus: {{CastingInfo.AffinityConflict.Benefit}}
                                    </div>
                                    <div class="col-1">
                                        <div class="dropdown">
                                            <button class="btn confirm-remove dropdown-toggle" type="button" id="dropdownMenuButton-{{spell.UniqueId}}" data-bs-toggle="dropdown" aria-expanded="false">
                                                Actions
                                            </button>
                                            <ul class="dropdown-menu" attr.aria-labelledby="dropdownMenuButton-{{spell.UniqueId}}">
                                                <li><button type="button" class="btn btn-primary dropdown-item" (click)="editCustomSpell(spell)">Edit</button></li>
                                                <li><button type="button" class="btn btn-primary dropdown-item" (click)="removeCustomSpell(spell)">Remove</button></li>
                                            </ul>
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <caster-output-control
                                            [origin-caster]="_dataService.getOriginCaster(spell.OriginCasterId)"
                                            [additional-casters]="_dataService.getAdditionalCasters(spell.AdditionalCasterIdList)" />
                                    </div>
                                    <div class="col">
                                        <spell-level-output-control
                                            [spell-level-info]="_dataService.getSpellLevelInfo(spell.SpellLevel)" />
                                        <spell-alteration-output-control
                                            [spell-alteration-info]="spell.SpellAlteration" />
                                    </div>
                                </div>
                                <primary-effect-output-control 
                                    [primary-effect]="_dataService.getPrimaryEffect(spell.PrimaryEffectId)" />
                                <secondary-effect-output-control
                                    [secondary-effects]="_dataService.getSecondaryEffects(spell.SecondaryEffectIdList)" />
                                <coda-output-control
                                    [codas]="_dataService.getCodas(spell.CodaIdList)" />
                                <effect-customization-output-control
                                    [spell-effect-customizations]="spell.EffectCustomizations" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>