<div class="row d-flex">
    <h2>Spell Crafter</h2>
    <div id="crafting-carousel" class="carousel carousel-dark slide" data-bs-ride="false" data-bs-wrap="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#crafting-carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#crafting-carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#crafting-carousel" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#crafting-carousel" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#crafting-carousel" data-bs-slide-to="4"></button>
            <button type="button" data-bs-target="#crafting-carousel" data-bs-slide-to="5"></button>
            <button type="button" data-bs-target="#crafting-carousel" data-bs-slide-to="6"></button>
            <button type="button" data-bs-target="#crafting-carousel" data-bs-slide-to="7"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <caster-crafting-control
                    [parent-ready]="Ready"
                    (origin-caster-changed)="onOriginCasterChange($event)"
                    (additional-casters-added)="onAdditionalCasterAdded($event)"
                    (additional-casters-removed)="onAdditionalCasterRemoved($event)" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>Casters</h4>
                </div>
            </div>
            <div class="carousel-item">
                <spell-level-crafting-control 
                    [parent-ready]="Ready"
                    (spell-info-selected)="onSpellLevelInfoChange($event)" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>Spell Levels</h4>
                </div>
            </div>
            <div class="carousel-item">
                <spell-alteration-crafting-control
                    [parent-ready]="Ready"
                    (spell-alteration-update)="onSpellAlterationInfoChange($event)" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>Spell Alteration</h4>
                </div>
            </div>
            <div class="carousel-item">
                <primary-effect-crafting-control
                    [parent-ready]="Ready"
                    (primary-effect-changed)="onPrimaryEffectChange($event)" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>Primary Effects</h4>
                </div>
            </div>
            <div class="carousel-item">
                <secondary-effect-crafting-control
                    [parent-ready]="Ready"
                    (secondary-effect-added)="onSecondaryEffectAdded($event)"
                    (secondary-effect-removed)="onSecondaryEffectRemoved($event)" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>Secondary Effects</h4>
                </div>
            </div>
            <div class="carousel-item">
                <coda-crafting-control
                    [parent-ready]="Ready"
                    (coda-effect-added)="onCodaEffectAdded($event)"
                    (coda-effect-removed)="onCodaEffectRemoved($event)" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>Codas</h4>
                </div>
            </div>
            <div class="carousel-item">
                <effect-customization-crafting-control
                    [primary-effect-type]="PrimaryEffectType"
                    [secondary-effect-types]="SecondaryEffectTypes"
                    [coda-effect-types]="CodasEffectTypes"
                    [all-effects]="AllEffectsToCustomize"
                    [non-coda-effects]="NonCodaEffectsToCustomize"
                    (effect-customization-added)="onCustomizationAdded($event)"
                    (effect-customization-removed)="onCustomizationRemoved($event)" />
                <div class="carousel-caption d-none d-md-block">
                    <h4>Effect Customization</h4>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col border-end">
                            <div>
                                <h3>Spell Name</h3>
                                <label class="form-label" for="spell-name-input">Name</label>
                                <input [(ngModel)]="SpellName"
                                    class="form-control" name="spell-name-input" id="spell-name-input" type="text" />
                                
                                <label class="form-label" for="spell-description-input">Description</label>
                                <textarea [(ngModel)]="Description"
                                    class="form-control" name="spell-description-input" id="spell-description-input"></textarea>
                            </div>
                            <caster-output-control
                                [origin-caster]="OriginCaster"
                                [additional-casters]="AdditionalCasters" />
                        </div>
                        <div class="col">
                            <spell-level-output-control
                                [spell-level-info]="SpellLevelInfo"/>
                            <spell-alteration-output-control
                                [spell-alteration-info]="SpellAlterationInfo" />
                        </div>
                    </div>
                    <primary-effect-output-control 
                        [primary-effect]="PrimaryEffect" />
                    <secondary-effect-output-control
                        [secondary-effects]="SecondaryEffects" />
                    <coda-output-control
                        [codas]="CodaEffects" />
                    <effect-customization-output-control
                        [spell-effect-customizations]="SpellEffectCustomizations" />
                    <div class="row">
                        <div class="col">
                            <form>
                                <div>
                                    <h3>Casting</h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Total Mana Cost</th>
                                                <th>Concentration DC</th>
                                                <th>Affinity Conflict Benefit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="CastingInformation">
                                                <td >{{CastingInformation.Cost}}</td>
                                                <td >{{CastingInformation.DC}}</td>
                                                <td >{{CastingInformation.AffinityConflict.Benefit}}</td>
                                            </tr>
                                            <tr *ngIf="!CastingInformation">
                                                <td colspan="3"><p class="error-message">Not enough information.</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="btn-group" role="group">
                                    <button *ngIf="showSave() && !CustomSpell" type="button" class="btn confirm-add" (click)="save()">Save</button>
                                    <button *ngIf="showSave() && CustomSpell && CustomSpell.IsEditable" type="button" class="btn confirm-add" (click)="update()">Update</button>
                                    <button type="button" class="btn confirm-add" (click)="reset()">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h4>Result</h4>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#crafting-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#crafting-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>