<div *ngIf="Show">
    <div class="row">
        <div class="col border-end">
            <h3>Stealthed</h3>
            <p *ngIf="NonCodaEffects.length() == 0">No effects to alter.</p>
            <div *ngIf="NonCodaEffects.length() > 0">
                <select class="form-select" name="stealth-select" id="stealth-select">
                    <option *ngFor="let effect of NonCodaEffects.getItems()" (value)="effect">{{effect.Name}}</option>
                </select>
                <br>
                <button type="button" class="btn confirm-add" (click)="setStealthed()">Update</button>
                <hr>
                <p class="error-message" *ngIf="!EffectForStealth">No effect selected. Update selection.</p>
                <div *ngIf="EffectForStealth">
                    <p>Name: {{EffectForStealth.Name}}</p>
                    <p>Description: {{EffectForStealth.Description}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <h3>Result</h3>
            <p *ngIf="Stealthed">{{Stealthed.getSummary()}}</p>
        </div>
    </div>
    <hr>
</div>