<div *ngIf="Show">
    <div class="row">
        <div class="col">
            <h3>Power Word</h3>
            <p *ngIf="NonCodaEffects.length() == 0">No effects to empower.</p>
            <div *ngIf="NonCodaEffects.length() > 0">
                <select class="form-select" name="power-word-select" id="power-word-select">
                    <option *ngFor="let effect of NonCodaEffects.getItems()" (value)="effect">{{effect.Name}}</option>
                </select>
                <br>
                <div class="btn-group" role="group">
                    <button type="button" class="btn confirm-add" (click)="updatePowerWordEffect()">Select</button>
                    <button type="button" class="btn confirm-add" (click)="savePowerWordAlteration()">Update</button>
                </div>
                <hr>
                <p *ngIf="!EffectForPowerWord">No effect selected. Update selection.</p>
                <div *ngIf="EffectForPowerWord">
                    <p>{{EffectForPowerWord.Name}}</p>
                    <p>{{EffectForPowerWord.Description}}</p>
                    <hr>
                    <form>
                        <label for="power-word-cost-picker" class="form-label">Cost</label>
                        <input [ngModel]="PowerWord.Cost"
                            class="form-control" name="power-word-cost-picker" id="power-word-cost-picker"
                            type="number" min="2" step="2"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <h3>Output</h3>
            <p *ngIf="PowerWord">{{PowerWord.getSummary()}}</p>
        </div>
    </div>   
    <hr>             
</div>