<h3>Casters</h3>
<p class="error-message" *ngIf="!OriginCaster">No origin caster selected.</p>
<table class="table table-striped" *ngIf="OriginCaster">
    <thead>
        <tr>
            <th>Caster Type</th>
            <th>Name</th>
            <th>Mana Points</th>
            <th>Mind</th>
            <th>Source</th>
            <th>Will</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="OriginCaster">
            <td>Origin</td>
            <td>{{OriginCaster.Name}}</td>
            <td>{{OriginCaster.ManaPointMax}}</td>
            <td>
                {{getValueForAffinity(OriginCaster, "Mind")}}
            </td>
            <td>
                {{getValueForAffinity(OriginCaster, "Source")}}
            </td>
            <td>
                {{getValueForAffinity(OriginCaster, "Will")}}
            </td>
        </tr>
        <tr *ngFor="let caster of AdditionalCasters.getItems()">
            <td>Additional</td>
            <td>{{caster.Name}}</td>
            <td>{{caster.ManaPointMax}}</td>
            <td>
                {{getValueForAffinity(caster, "Mind")}}
            </td>
            <td>
                {{getValueForAffinity(caster, "Source")}}
            </td>
            <td>
                {{getValueForAffinity(caster, "Will")}}
            </td>
        </tr>   
    </tbody>
</table>