<div *ngIf="CodaEffects.length() > 0">
    <h3>Codas</h3>
    <div class="info-desktop">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Aspect</th>
                    <th>Cost</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let effect of CodaEffects.getItems()">
                    <td>{{effect.Name}}</td>
                    <td>{{effect.Aspect}}</td>
                    <td>{{effect.Cost}}</td>
                    <td>{{effect.Description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="info-mobile">
        <div *ngFor="let effect of CodaEffects.getItems()">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{effect.Name}}</td>
                    </tr>
                    <tr>
                        <th>Aspect</th>
                        <td>{{effect.Aspect}}</td>
                    </tr>
                    <tr>
                        <th>Cost</th>
                        <td>{{effect.Cost}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><button type="button" class="btn popup-button-show" (click)="showPopupForItem(effect)">Show</button></td>
                    </tr>
                </tbody>
            </table>
            <h5></h5>
            <hr>
        </div>        
    </div>
</div>