<div class="container">
    <div class="row justify-content-center">
        <h3>Codas</h3>
        <div class="col-8">
            <form>
                <label for="coda-select" class="form-label">Coda</label>
                <select class="form-select" name="coda-select" id="coda-select">
                    <option *ngFor="let effect of CodaEffects.getItems()" (value)="effect" >{{effect.Name}}</option>
                </select>
                <br>
                <div class="btn-group info-desktop" role="group">
                    <button type="button" class="btn confirm-add" (click)="addCoda()">Add</button>
                    <button type="button" class="btn confirm-add" (click)="setPreview()">Preview</button>
                </div>
                <div class="btn-group info-mobile" role="group">
                    <button type="button" class="btn confirm-add" (click)="addCoda()">Add</button>
                    <button type="button" class="btn confirm-add" (click)="showPreviewForItem()">Preview</button>
                </div>
            </form>
            <br>
            <div>
                <p *ngIf="SelectedCodaEffects.length() == 0">No codas added.</p>
                <div class="info-desktop">
                    <table class="table table-striped" *ngIf="SelectedCodaEffects.length() > 0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Aspect</th>
                                <th>Cost</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let effect of SelectedCodaEffects.getItems()">
                                <td>{{effect.Name}}</td>
                                <td>{{effect.Aspect}}</td>
                                <td>{{effect.Cost}}</td>
                                <td>{{effect.Description}}</td>
                                <td><button type="button" class="btn confirm-remove" (click)="removeCoda(effect)">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="info-mobile">
                    <div *ngFor="let effect of SelectedCodaEffects.getItems()">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>{{effect.Name}}</td>
                                </tr>
                                <tr>
                                    <th>Aspect</th>
                                    <td>{{effect.Aspect}}</td>
                                </tr>
                                <tr>
                                    <th>Cost</th>
                                    <td>{{effect.Cost}}</td>
                                </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td><button type="button" class="btn popup-button-show" (click)="showPopupForItem(effect)">Show</button></td>
                                    </tr>
                                <tr>
                                    <th>Action</th>
                                    <td><button type="button" class="btn confirm-remove" (click)="removeCoda(effect)">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div> 
                    <app-popup *ngIf="IsPopupVisible"
                        [title]="getPopupTitle()"
                        [message]="getPopupMessage()"
                        (close)="hidePopup()"/>      
                </div>
            </div>
        </div>
        <div class="col border-start info-desktop">
            <h4>Preview</h4>
            <p *ngIf="!PreviewEffect">No coda to preview.</p>
            <div *ngIf="PreviewEffect">
                <p>Name: {{PreviewEffect.Name}}</p>
                <p>Aspect: {{PreviewEffect.Aspect}}</p>
                <p>Cost: {{PreviewEffect.Cost}}</p>
                <p>Description: {{PreviewEffect.Description}}</p>
            </div>
        </div>
    </div>
</div>