<h3>Primary Effects</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Aspect</th>
            <th>Cost</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let effect of PrimaryEffects.getItems()">
            <td>{{effect.Name}}</td>
            <td>{{effect.Aspect}}</td>
            <td>{{effect.Cost}}</td>
            <td>{{effect.Description}}</td>
        </tr>
    </tbody>
</table>
