<h3>Primary Effects</h3>
<div class="info-desktop reference">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Aspect</th>
                <th>Cost</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let effect of PrimaryEffects.getItems()">
                <td>{{effect.Name}}</td>
                <td>{{effect.Aspect}}</td>
                <td>{{effect.Cost}}</td>
                <td>{{effect.Description}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="info-mobile reference">
    <form>
        <select class="form-select" name="primary-effect-select" id="primary-effect-select">
            <option *ngFor="let effect of PrimaryEffects.getItems()" (value)="effect" >{{effect.Name}}</option>
        </select>
        <br>
        <button type="button" class="btn confirm-add" (click)="updateSelection()">Update</button>
    </form>
    <div>
        <hr>
        <p class="error-message" *ngIf="!PrimaryEffect">No primary effect selected. Update Selection.</p>
        <div *ngIf="PrimaryEffect">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{PrimaryEffect.Name}}</td>
                    </tr>
                    <tr>
                        <th>Aspect</th>
                        <td>{{PrimaryEffect.Aspect}}</td>
                    </tr>
                    <tr>
                        <th>Cost</th>
                        <td>{{PrimaryEffect.Cost}}</td>
                    </tr>
                </tbody>
            </table>
            <h4>Description</h4>
            <p>{{PrimaryEffect.Description}}</p>
        </div>
    </div>
</div>
