<div class="container">
    <div class="row justify-content-center">
        <h3>Effect Customization</h3>
        <div>
            <p *ngIf="!hasEffectCustomizationTypes()">No effects to customize.</p>
            <alter-aspect-control
                [should-show]="ShowAffinity"
                [all-effects]="AllEffects"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)" 
                (show-popup)="onShowPopup($event)"/>
            <alter-saving-throw-control
                [should-show]="ShowSavingThrow"
                [non-coda-effects]="NonCodaEffects"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)"
                (show-popup)="onShowPopup($event)"/>
            <curtail-capacity-control
                [should-show]="ShowCurtailCapacity"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)" />
            <damage-increase-control
                [should-show]="ShowDamageIncrease"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)" />
            <echoed-control
                [should-show]="ShowEchoed"
                [non-coda-effects]="NonCodaEffects"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)"
                (show-popup)="onShowPopup($event)"/>
            <inhibit-control
                [should-show]="ShowInhibit"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)"/>
            <power-word-control
                [should-show]="ShowPowerWord"
                [non-coda-effects]="NonCodaEffects"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)"
                (show-popup)="onShowPopup($event)"/>
            <ricochet-control
                [should-show]="ShowRicochet"
                [non-coda-effects]="NonCodaEffects"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)"
                (show-popup)="onShowPopup($event)"/>
            <stealthed-control
                [should-show]="ShowStealthed"
                [non-coda-effects]="NonCodaEffects"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)"
                (show-popup)="onShowPopup($event)"/>
            <temporary-feat-control
                [should-show]="ShowTemporaryFeat"
                (customization-added)="onEffectCustomizationAdded($event)"
                (customization-removed)="onEffectCustomizationRemoved($event)" />
        </div>
    </div>                
    <div class="info-mobile">
        <app-popup *ngIf="IsPopupVisible"
            [title]="getPopupTitle()"
            [message]="getPopupMessage()"
            (close)="hidePopup()"/> 
    </div>
</div>