<div *ngIf="Show">
    <div class="row">
        <div class="col border-end">
            <h3>Alter Aspect</h3>
            <p *ngIf="AllEffects.length() == 0">No effects to alter.</p>
            <div *ngIf="AllEffects.length() > 0">
                <select class="form-select" name="alter-affinity-select" id="alter-affinity-select">
                    <option *ngFor="let effect of AllEffects.getItems()" (value)="effect">{{effect.Name}}</option>
                </select>
                <br>
                <div class="btn-group" role="group">
                    <button type="button" class="btn confirm-add" (click)="updateAffinityEffect()">Select</button>
                    <button type="button" class="btn confirm-add" (click)="saveAffinityAlteration()">Update</button>
                </div>
                <hr>
                <p class="error-message" *ngIf="!EffectForAffinity">No effect selected. Update customization.</p>
                <div *ngIf="EffectForAffinity">
                    <p>Name: {{EffectForAffinity.Name}}</p>
                    <p>Aspect: {{EffectForAffinity.Aspect}}</p>
                    <p> Description: {{EffectForAffinity.Description}}</p>
                    <hr>
                    <form>
                        <label for="original-affinity-select" class="form-label">Set Original Affinity</label>
                        <select class="form-select" name="original-affinity-select" id="original-affinity-select">
                            <option *ngFor="let affinity of getSourceAffinityKeys()" (value)="affinity">{{affinity.valueOf()}}</option>
                        </select>
                        <br>
                        <label for="custom-affinity-select" class="form-label">Set Custom Affinity</label>
                        <select class="form-select" name="custom-affinity-select" id="custom-affinity-select">
                            <option *ngFor="let affinity of getCustomAffinityKeys()" (value)="affinity">{{affinity.valueOf()}}</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <h3>Result</h3>
            <p *ngIf="Affinity">{{Affinity.getSummary()}}</p>
        </div>
    </div>
    <hr>
</div>