#main-title {
    background-color: #5E3465 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-title-text {
    color: white;
    text-align: center;
}

.dropdown-menu {
    background-color: #5E3465;
}

.dropdown-menu > li > a.dropdown-item,
a.nav-link {
    color: white;
}

.dropdown-menu > li > a.dropdown-item.active,
a.nav-link.active {
    color: white;
}

.dropdown-menu > li > a.dropdown-item:hover,
.dropdown-menu > li > a.dropdown-item:focus,
a.nav-link:hover,
a.nav-link:focus {
    color: white;
    background-color: #36013F;
}

footer {
    background-color: #5E3465 !important;
}
