#main-title {
    background-color: #9B104B;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-title-text {
    color: #CC4D82;
}

#menu-icon {
    color: #CC4D82;
}

.dropdown-menu, .navbar {
    background-color: #9B104B;
}

.navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.dropdown-menu > li > a.dropdown-item,
a.nav-link {
    color: white;
}

.dropdown-menu > li > a.dropdown-item.active,
a.nav-link.active {
    color: white;
}

.dropdown-menu > li > a.dropdown-item:hover,
.dropdown-menu > li > a.dropdown-item:focus
a.nav-link:hover,
a.nav-link:focus {
    color: white;
    background-color: #5B0026;
}
