<div *ngIf="Show">
    <div class="accordion" id="accordion-list">
        <div class="accordion-item accordion-card">
            <div class="row accordion-header" id="heading-echoed">
                <div class="accordion-button-color accordion-button collapsed" type="button" data-bs-target="#collapse-echoed" data-bs-toggle="collapse">
                    Echoed
                </div>
            </div>            
        </div>

        <div id="collapse-echoed" class="accordion-collapse collapse">
            <div class="accordion-body">
                <h4>Echoed</h4>
                <p *ngIf="NonCodaEffects.length() == 0">No effects to alter.</p>
                <div *ngIf="NonCodaEffects.length() > 0">
                    <select class="form-select" name="echoed-effect-select" id="echoed-effect-select">
                        <option *ngFor="let effect of NonCodaEffects.getItems()" (value)="effect">{{effect.Name}}</option>
                    </select>
                    <br>
                    <button type="button" class="btn confirm-add" (click)="updateEchoedEffect()">Update</button>
                    <br><br>
                    <p class="error-message" *ngIf="!EffectToEcho">No effect selected. Update selection.</p>
                </div>
                <hr>
                <h4>Result</h4>
                <p *ngIf="Echoed">{{this.Echoed.getSummary()}}</p>
            </div>
        </div>
    </div>
    <br>
</div>