<div *ngIf="Show">
    <div class="row">
        <div class="col border-end">
            <h3>Echoed</h3>
            <p *ngIf="NonCodaEffects.length() == 0">No effects to alter.</p>
            <div *ngIf="NonCodaEffects.length() > 0">
                <select class="form-select" name="echoed-effect-select" id="echoed-effect-select">
                    <option *ngFor="let effect of NonCodaEffects.getItems()" (value)="effect">{{effect.Name}}</option>
                </select>
                <br>
                <button type="button" class="btn confirm-add" (click)="updateEchoedEffect()">Update</button>
                <br><br>
                <p class="error-message" *ngIf="!EffectToEcho">No effect selected. Update selection.</p>
            </div>
        </div>
        <br>
        <div class="col">
            <h3>Result</h3>
            <p *ngIf="Echoed">{{this.Echoed.getSummary()}}</p>
        </div>
    </div>
    <hr>
</div>