h3, h4 {
    text-align: center;
}

.accordion-header {
    background: #426F9B !important;
}

.confirm-add {
    background-color: #4D8800 !important;
    color: #9FDA52 !important;
}

.confirm-add:hover {
    background-color: #376100 !important;
    color: #9FDA52 !important;   
}

.confirm-remove {
    background-color: #114676 !important;
    color: white !important;
}

.confirm-remove:hover {
    background-color: #032545 !important;
    color: white !important;
}

.error-message {
    color: red;
    font-style: italic;
}

.tab-content {
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #032545;
    border-bottom:5px solid #032545;
    padding:30px 25px;
}