/* https://medium.com/understanding-javascript-developwithmi/light-dark-mode-in-angular-the-most-elegant-implementation-96a1adefa978 */
[data-theme='light'] {
    --background-color: #FFFEE8;
    --text-color: black;
    --input-background-color: #FFFEF1;
    --accordion-background-color: #FFFEDE;
    --accordion-button-color: #005A5A;
    --accordion-button-color-collapsed: #008080;
    --accordion-header-color: #426F9B;
    --accordion-text-color: white;
    --carousel-arrow-background-color-hover: #F9EBD3;
    --confirm-add-color: #8FA889;
    --confirm-add-color-hover: #30422B;
    --confirm-remove-color: #5F8356;
    --confirm-remove-color-hover: #30422B;
    --confirm-text-color: white;
    --popup-button-show-background-color: #8FA889;
    --popup-button-show-background-color-hover: #30422B;
    --popup-button-show-text-color: white;
    --popup-button-close-background-color: #8FA889;
    --popup-button-close-background-color-hover: #30422B;
    --popup-button-close-text-color: white;
    --popup-background-color: #FFFEE8;
    --popup-text-color: black;
    --table-header-color: #CCCAA6;
    --table-data-color: #FFFDD5;
    --table-row-odd-color: #FFFDD5;
    --table-row-even-color: #FFFDD9;
    --title-background-color: #4A1A52;
    --title-background-color-hover: #36013F;
    --title-text-color: white;
    --title-dropdown-background-color: #4A1A52;
}

[data-theme='dark'] {
    --background-color: #A5A5A5;
    --text-color: black;
    --input-background-color: #C9C9C9;
    --accordion-background-color: #C9C9C9;
    --accordion-button-color: #004448;
    --accordion-button-color-collapsed: #33777B;
    --accordion-header-color: #131A11;
    --accordion-text-color: white;
    --carousel-arrow-background-color-hover: #5C5C5C;
    --confirm-add-color: #4A1A49;
    --confirm-add-color-hover: #5E345D;
    --confirm-remove-color: #310130;
    --confirm-remove-color-hover: #5E345D;
    --confirm-text-color: white;
    --popup-button-show-background-color: #4A1A49;
    --popup-button-show-background-color-hover: #5E345D;
    --popup-button-show-text-color: white;
    --popup-button-close-background-color: #4A1A49;
    --popup-button-close-background-color-hover: #5E345D;
    --popup-button-close-text-color: white;
    --popup-background-color: #C9C9C9;
    --popup-text-color: black;
    --table-header-color: #808080;
    --table-data-color: #C9C9C9;
    --table-row-odd-color: #C9C9C9;
    --table-row-even-color: #B7B7B7;
    --title-background-color: #011430;
    --title-background-color-hover: #34455D;
    --title-text-color: white;
    --title-dropdown-background-color: #011430;
}

html, body {
    background-color: var(--background-color) !important;
    margin: 0 !important;
    min-height: 100vh !important;
}

app-root {
    height: 100% !important;
    width: 100% !important;
    display: inline-block;
}

select, input, textarea {
    color: var(--text-color) !important;
    background-color: var(--input-background-color) !important;    
}

h2, h3, h4, h5 {
    color: var(--text-color) !important;
    text-align: center;
}

p, label {
    color: var(--text-color) !important;    
}

.accordion .accordion-card {
	border: none;
	margin-bottom: 2px;
	border-radius: 0;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
    background-color: var(--accordion-background-color);
}

.accordion-button-color {
  color: var(--accordion-text-color) !important;
  background-color: var(--accordion-button-color-collapsed) !important;
}

.accordion-button-color:not(.collapsed) {
  color: var(--accordion-text-color) !important;
  background-color: var(--accordion-button-color) !important;
}

.accordion-header {
    background: var(--accordion-header-color) !important;
}

table > thead > tr > th {
    color: var(--text-color) !important;
    background-color: var(--table-header-color) !important;
}

table > tbody > tr > td {
    color: var(--text-color) !important;
    background-color: var(--table-data-color) !important;
}

.reference {
    margin-bottom: 100px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: var(--table-row-odd-color) !important;
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
 .table-striped>tbody>tr:nth-child(even)>th {
    background-color: var(--table-row-even-color) !important;
  }

.confirm-add {
    background-color: var(--confirm-add-color) !important;
    color: var(--confirm-text-color) !important;
}

.confirm-add:hover {
    background-color: var(--confirm-add-color-hover) !important;
    color: var(--confirm-text-color) !important;
}

.confirm-remove {
    background-color: var(--confirm-remove-color) !important;
    color: var(--confirm-text-color) !important;
}

.confirm-remove:hover {
    background-color: var(--confirm-remove-color-hover) !important;
    color: var(--confirm-text-color) !important;
}

.popup-button-show {
    background-color: var(--popup-button-show-background-color) !important;
    color: var(--popup-button-show-text-color) !important;
}

.popup-button-show:hover {
    background-color: var(--popup-button-show-background-color-hover) !important;
    color: var(--popup-button-show-text-color) !important;
}

.popup-button-close {
    background-color: var(--popup-button-close-background-color) !important;
    color: var(--popup-button-show-text-color) !important;
}

.popup-button-close:hover {
    background-color: var(--popup-button-close-background-color-hover) !important;
    color: var(--popup-button-show-text-color) !important;
}

.form-check-input {
    background-color: var(--confirm-add-color-hover) !important;
}

.error-message {
    color: red !important;
    font-style: italic;
}

.tab-content {
    line-height: 25px;
    border: 1px solid #EFCC90;
    border-top:5px solid #EFCC90;
    border-bottom:5px solid #EFCC90;
    padding:30px 25px;
}

@media only screen and (max-width: 800px) {
    .info-desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 800px) {
    .info-mobile {
        display: none !important;
    }
}