html, body {
    background-color: #FFFEE8 !important;
    margin: 0 !important;
    min-height: 100vh !important;
}

app-root {
    height: 100% !important;
    width: 100% !important;
    display: inline-block;
}

select, input, textarea {
    background-color: #FFFEF1 !important;    
}

h3, h4, h5 {
    text-align: center;
}

.accordion .accordion-card {
	border: none;
	margin-bottom: 2px;
	border-radius: 0;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
    background-color: #FFFEDE;
}

.accordion-button-color {
  color: white !important;
  background-color: #008080 !important;
}
.accordion-button-color:not(.collapsed) {
  color: white !important;
  background-color: #005A5A !important;
}

.accordion-header {
    background: #426F9B !important;
}

table > thead > tr > th {
    background-color: #CCCAA6 !important;
}

table > tbody > tr > td {
    background-color: #FFFDD5 !important;
}

.reference {
    margin-bottom: 100px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #FFFDD5;
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
 .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #FFFDD9;
  }

.confirm-add {
    background-color: #5F8356 !important;
    color: white !important;
}

.confirm-add:hover {
    background-color: #4C6945 !important;
    color: white !important;
}

.confirm-remove {
    background-color: #263422 !important;
    color: white !important;
}

.confirm-remove:hover {
    background-color: #131A11 !important;
    color: white !important;
}

.error-message {
    color: red;
    font-style: italic;
}

.tab-content {
    line-height: 25px;
    border: 1px solid #EFCC90;
    border-top:5px solid #EFCC90;
    border-bottom:5px solid #EFCC90;
    padding:30px 25px;
}

@media only screen and (max-width: 800px) {
    .info-desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 800px) {
    .info-mobile {
        display: none !important;
    }
}