<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Effective Spell Level</h3>

            <form>    
                <label for="spell-level-picker" class="form-label">Set Spell Level</label>
                <input [(ngModel)]="SpellLevel" class="form-control" name="spell-level-picker" id="spell-level-picker" 
                    type="number" min="1" max="7" step="1"/>
                <br>
                <button type="button" class="btn confirm-add" (click)="onSpellLevelChange()">Update</button>
            </form>
            <br>
            <div>
                <hr>
                <p class="error-message" *ngIf="!CurrentInfo">No spell level selected. Update selection.</p>
                <div class="info-desktop">
                    <table class="table" *ngIf="CurrentInfo">
                        <thead>
                            <tr>
                                <th>Spell Level</th>
                                <th>Base Damage (Single Target)</th>
                                <th>Base Damage (Multiple Targets)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{CurrentInfo.SpellLevel}}</td>
                                <td>{{CurrentInfo.SingleTargetDamage}}{{CurrentInfo.SingleTargetDie}}</td>
                                <td>{{CurrentInfo.MultipleTargetDamage}}{{CurrentInfo.MultipleTargetDie}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="info-mobile">
                    <table class="table" *ngIf="CurrentInfo">
                        <tbody>
                            <tr>
                                <th>Spell Level</th>
                                <td>{{CurrentInfo.SpellLevel}}</td>
                            </tr>
                            <tr>
                                <th>Base Damage (Single Target)</th>
                                <td>{{CurrentInfo.SingleTargetDamage}}{{CurrentInfo.SingleTargetDie}}</td>
                            </tr>
                            <tr>
                                <th>Base Damage (Multiple Targets)</th>
                                <td>{{CurrentInfo.MultipleTargetDamage}}{{CurrentInfo.MultipleTargetDie}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>        
        </div> 
    </div>
</div>