<div class="container crafting-container">
    <div class="row">
        <div class="col">
            <form>
                <h4>Origin Caster</h4>
                <select class="form-select" name="origin-caster-select" id="origin-caster-select">
                    <option *ngFor="let caster of Casters.getItems()" (value)="caster">{{caster.Name}}</option>
                </select>
                <br>
                <button type="button" class="btn confirm-add" (click)="updateOriginCaster()">Update</button>
            </form>
            <br>
            <div>
                <p *ngIf="!OriginCaster">No origin caster selected. Update Selection.</p>
                <table class="table" *ngIf="OriginCaster">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mana Points</th>
                            <th>Mind</th>
                            <th>Source</th>
                            <th>Will</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{OriginCaster.Name}}</td>
                            <td>{{OriginCaster.ManaPointMax}}</td>
                            <td>
                                {{getValueForAffinity(OriginCaster, "Mind")}}
                            </td>
                            <td>
                                {{getValueForAffinity(OriginCaster, "Source")}}
                            </td>
                            <td>
                                {{getValueForAffinity(OriginCaster, "Will")}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col">
            <form>
                <h4>Additional Casters</h4>
                <select class="form-select" name="additional-caster-select" id="additional-caster-select">
                    <option *ngFor="let caster of Casters.getItems()" (value)="caster">{{caster.Name}}</option>
                </select>
                <br>
                <button type="button" class="btn confirm-add" (click)="addAdditionalCaster()">Add</button>
            </form>
            <br>
            <div>
                <p *ngIf="AdditionalCasters.length() == 0">No additional casters added.</p>
                <table class="table table-striped" *ngIf="AdditionalCasters.length() > 0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mana Points</th>
                            <th>Mind</th>
                            <th>Source</th>
                            <th>Will</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let caster of AdditionalCasters.getItems()">
                            <td>{{caster.Name}}</td>
                            <td>{{caster.ManaPointMax}}</td>
                            <td>
                                {{getValueForAffinity(caster, "Mind")}}
                            </td>
                            <td>
                                {{getValueForAffinity(caster, "Source")}}
                            </td>
                            <td>
                                {{getValueForAffinity(caster, "Will")}}
                            </td>
                            <td><button type="button" class="btn confirm-remove" (click)="removeAdditionalCaster(caster)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>